spring:
  application:
    name: Heemo-API
  datasource:
    url: jdbc:postgresql://localhost:5432/heemo
    username: heemo_user
    password: heemo_password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        default_batch_fetch_size: 100
  data:
    redis:
      host: localhost
      port: 6379
